.footer-content {
  display: flex;
  align-items: center;
  width: 100%;

  .spacer {
    flex: 1 1 auto;
  }

  .footer-link {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-left: 12px;

    &:hover {
      color: white;
    }
  }
}

.mat-toolbar {
  background: transparent;
  color: white;
}
